:root {
  --main-light-bg-color: #ffffff;
  --main-dark-bg-color: #2f303a;
  --secondary-light-bg-color: #f5f5f5;
  --alternative-light-bg-color: #f5f4fa;
  --footer-bg-icon-color: rgba(255, 255, 255, 0.1); /* #ffffff 10% */
  --portfolio-bg-overlay: rgba(33, 150, 243, 0.9); /* #2196F3 90 % */
  --backdrop-bg-color: rgba(0, 0, 0, 0.2); /* #000000 20 % */
  --main-dark-text-color: #212121;
  --main-light-text-color: #ffffff;
  --logo-text-color: #000000;
  --secondary-dark-text-color: #757575;
  --icon-color: #afb1b8;
  --footer-link-color: rgba(255, 255, 255, 0.6); /* #ffffff 60% */
  --portfolio-gallery-border-color: #eeeeee;
  --header-line-color: #ececec;
  --accent-color: #2196f3;
  --accent-hover-btn: #188ce8;
  --animation-time: 250ms;
  --animation-time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social, .gallery, .filter, .auth-list, .navigation__list, .social {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.mobile-social__link, .gallery__link, .address__link, .auth-list__link, .navigation__link, .social__link, .logo {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--main-dark-text-color);
  background-color: var(--main-bg-color);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section--bgcolor {
  background-color: var(--secondary-light-bg-color);
}
.section--services {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section--services {
    display: block;
    padding-top: 0;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.title--section {
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
  }
  .title--section {
    margin-bottom: 50px;
  }
}
.btn {
  border: none;
  border-radius: 4px;
  text-align: center;
  color: var(--main-light-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function), -webkit-transform var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function), -webkit-transform var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function), transform var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function), transform var(--animation-time) var(--animation-time-function), -webkit-transform var(--animation-time) var(--animation-time-function);
}
.btn:hover, .btn:focus {
  color: var(--secondary-light-bg-color);
  background-color: var(--accent-hover-btn);
}
.btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo--light {
  color: var(--main-light-text-color);
}
.logo--accent {
  color: var(--logo-text-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.burger-menu {
  padding: 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
  color: var(--logo-text-color);
}
.burger-menu:hover, .burger-menu:focus {
  cursor: pointer;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu__icon {
  fill: currentColor;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color);
  -webkit-transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function);
}
.social__link:hover, .social__link:focus {
  color: var(--main-light-text-color);
  background-color: var(--accent-color);
}
.social__link--footer {
  color: var(--main-light-text-color);
  background-color: var(--footer-bg-icon-color);
  -webkit-transition: background-color var(--animation-time) var(--animation-time-function);
  transition: background-color var(--animation-time) var(--animation-time-function);
}
.social__link--footer:hover, .social__link--footer:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: currentColor;
}

.navigation {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-dark-text-color);
  -webkit-transition: color var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link--current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  .navigation__link--current {
    position: relative;
  }
  .navigation__link--current::after {
    position: absolute;
    left: 0;
    top: calc(100% - 3px);
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    width: auto;
  }
}
.auth-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 64px;
}

.auth-list__item--phone {
  margin-bottom: 32px;
}

.auth-list__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-dark-text-color);
  -webkit-transition: color var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function);
}
.auth-list__link:hover, .auth-list__link:focus {
  color: var(--accent-color);
}
.auth-list__link--phone {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}
@media screen and (max-width: 379px) {
  .auth-list__link--phone {
    font-size: 26px;
  }
}

.auth-list__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .auth-list {
    margin-left: 90px;
    margin-bottom: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .auth-list__item--phone {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-list__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .auth-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 1.17;
  }
  .auth-list__link--phone {
    color: var(--secondary-dark-text-color);
  }
}
@media screen and (min-width: 768px) {
  .auth-list__icon {
    display: block;
    margin-right: 8px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .auth-list {
    margin-left: 312px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .auth-list__item:first-child {
    margin-right: 50px;
  }
  .auth-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  .auth-list__icon {
    margin-right: 10px;
  }
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--logo-text-color);
  background-color: transparent;
  -webkit-transition: color var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function);
}
.close:hover, .close:focus {
  cursor: pointer;
  color: var(--accent-color);
}

.close__icon {
  fill: currentColor;
}

.checkbox {
  margin-right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--main-dark-text-color);
  border-radius: 2px;
  color: var(--main-light-text-color);
  -webkit-transition: background-color var(--animation-time) var(--animation-time-function), border-color var(--animation-time) var(--animation-time-function);
  transition: background-color var(--animation-time) var(--animation-time-function), border-color var(--animation-time) var(--animation-time-function);
}

.checkbox__icon {
  fill: currentColor;
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .checkbox {
    margin-right: 7px;
  }
}
.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-light-text-color);
}

.address__text {
  margin-top: 0;
  margin-bottom: 8px;
}

.address__link {
  color: var(--footer-link-color);
  -webkit-transition: color var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function);
}
.address__link:not(:last-child) {
  margin-bottom: 8px;
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .address__text {
    margin-bottom: 9px;
  }
  .address__link:not(:last-child) {
    margin-bottom: 9px;
  }
}
.signup {
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup__input {
  margin-bottom: 20px;
  width: 100%;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  -webkit-transition: border-color var(--animation-time) var(--animation-time-function);
  transition: border-color var(--animation-time) var(--animation-time-function);
}
.signup__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.signup__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.signup__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.signup__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.signup__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.signup__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.signup__submit {
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-light-text-color);
}

.signup__icon {
  margin-left: 12px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .signup {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
    padding-top: 12px;
    text-align: left;
  }
  .signup__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .signup__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
  .signup__icon {
    margin-left: 10px;
  }
}
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item {
  margin-bottom: 15px;
}

.filter__btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-dark-text-color);
  background-color: var(--alternative-light-bg-color);
  cursor: pointer;
  -webkit-transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function), -webkit-box-shadow var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function), -webkit-box-shadow var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function), box-shadow var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function), box-shadow var(--animation-time) var(--animation-time-function), -webkit-box-shadow var(--animation-time) var(--animation-time-function);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--main-light-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .filter__item {
    margin-bottom: 0;
  }
}
.gallery__item {
  background-color: var(--main-light-bg-color);
}
@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.gallery__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--animation-time) var(--animation-time-function);
  transition: -webkit-box-shadow var(--animation-time) var(--animation-time-function);
  transition: box-shadow var(--animation-time) var(--animation-time-function);
  transition: box-shadow var(--animation-time) var(--animation-time-function), -webkit-box-shadow var(--animation-time) var(--animation-time-function);
}
.gallery__link:hover, .gallery__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery__link:hover .overlay__backdrop, .gallery__link:focus .overlay__backdrop {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.gallery__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid var(--portfolio-gallery-border-color);
  border-right: 1px solid var(--portfolio-gallery-border-color);
  border-bottom: 1px solid var(--portfolio-gallery-border-color);
}

.gallery__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-dark-text-color);
}

.gallery__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-text-color);
}

@media screen and (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__backdrop {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 77px;
  padding-right: 24px;
  padding-bottom: 77px;
  padding-left: 24px;
  overflow-y: auto;
  background-color: var(--portfolio-bg-overlay);
  -webkit-transition: -webkit-transform var(--animation-time) var(--animation-time-function);
  transition: -webkit-transform var(--animation-time) var(--animation-time-function);
  transition: transform var(--animation-time) var(--animation-time-function);
  transition: transform var(--animation-time) var(--animation-time-function), -webkit-transform var(--animation-time) var(--animation-time-function);
}

.overlay__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-light-text-color);
}

@media screen and (min-width: 768px) {
  .overlay__backdrop {
    padding-top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay__backdrop {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
.header {
  border-bottom: 1px solid var(--header-line-color);
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity var(--animation-time) var(--animation-time-function), visibility var(--animation-time) var(--animation-time-function), -webkit-transform var(--animation-time) var(--animation-time-function);
  transition: opacity var(--animation-time) var(--animation-time-function), visibility var(--animation-time) var(--animation-time-function), -webkit-transform var(--animation-time) var(--animation-time-function);
  transition: transform var(--animation-time) var(--animation-time-function), opacity var(--animation-time) var(--animation-time-function), visibility var(--animation-time) var(--animation-time-function);
  transition: transform var(--animation-time) var(--animation-time-function), opacity var(--animation-time) var(--animation-time-function), visibility var(--animation-time) var(--animation-time-function), -webkit-transform var(--animation-time) var(--animation-time-function);
  background-color: var(--main-light-bg-color);
}

.mobile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}
.mobile-menu__close:hover, .mobile-menu__close:focus {
  cursor: pointer;
  color: var(--accent-color);
}

.mobile-menu__icon {
  fill: currentColor;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 439px) {
  .mobile-social__item {
    margin-bottom: 10px;
  }
}

.mobile-social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 48px;
    padding-left: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mobile-menu__close {
    display: none;
  }
  .mobile-menu__bottom {
    margin-top: auto;
    margin-bottom: auto;
  }
  .mobile-social {
    display: none;
  }
}
.burger-menu {
  padding: 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
  color: var(--logo-text-color);
}
.burger-menu:hover, .burger-menu:focus {
  cursor: pointer;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: var(--main-dark-bg-color);
}

.footer__wrapper {
  margin-bottom: 60px;
}

.footer__contacts {
  margin-bottom: 60px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__appeal {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-text-color);
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contacts {
    margin-right: 165px;
    margin-bottom: 0;
  }
  .footer__join {
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    margin-bottom: 0;
  }
  .footer__contacts {
    text-align: left;
    margin-right: 70px;
  }
  .footer__join {
    padding-top: 12px;
    text-align: left;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=portfolio.css.map */