/* :root {
  --main-light-bg-color: #ffffff;
  --main-dark-bg-color: #2f303a;
  --secondary-light-bg-color: #f5f5f5;
  --alternative-light-bg-color: #f5f4fa;
  --footer-bg-icon-color: rgba(255, 255, 255, 0.1);
  --portfolio-bg-overlay: rgba(33, 150, 243, 0.9);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);

  --main-dark-text-color: #212121;
  --main-light-text-color: #ffffff;
  --logo-text-color: #000000;
  --secondary-dark-text-color: #757575;
  --icon-color: #afb1b8;
  --footer-link-color: rgba(255, 255, 255, 0.6);

  --portfolio-gallery-border-color: #eeeeee;
  --header-line-color: #ececec;
  --accent-color: #2196f3;
  --accent-hover-btn: #188ce8;

  --animation-time: 250ms;
  --animation-time-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;

  color: var(--main-dark-text-color);
  background-color: var(--main-bg-color);
} */

/* img {
  display: block;
} */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* .list {
  list-style: none;
} */

/* .link {
  text-decoration: none;
} */

/* .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* .btn {
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
} */

/* .btn:hover,
.btn:focus {
  color: var(--secondary-light-bg-color);
  background-color: var(--accent-hover-btn);
} */

/* .btn:active {
  transform: scale(0.95);
} */

/* LOGO */

/* .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
} */

/* .logo--light {
  color: var(--main-light-text-color);
} */

/* .logo__accent {
  color: var(--logo-text-color);
} */

/* LIST OF SOCIAL LINKS */

/* .social {
  display: flex;
  justify-content: center;
  padding-left: 0;
} */

/* .social__item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .social__item:not(:last-child) {
  margin-right: 10px;
} */

/* .social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: var(--icon-color);

  transition: color var(--animation-time) var(--animation-time-function),
    background-color var(--animation-time) var(--animation-time-function);
} */

/* .social__link:hover,
.social__link:focus {
  color: var(--main-light-text-color);
  background-color: var(--accent-color);
} */

/* .social__icon {
  fill: currentColor;
} */

/* .social__link--footer {
  color: var(--main-light-text-color);
  background-color: var(--footer-bg-icon-color);

  transition: background-color var(--animation-time)
    var(--animation-time-function);
} */

/* .social__link--footer:hover,
.social__link--footer:focus {
  background-color: var(--accent-color);
} */

/* HEADER */

/* .header {
  border-bottom: 1px solid var(--header-line-color);
} */

/* .header__container {
  display: flex;
  justify-content: space-between;
} */

.navigation {
  display: flex;
  align-items: center;
}

/* .header__logo {
  margin-right: 94px;
  padding-top: 24px;
  padding-bottom: 25px;
} */

/* NAVIGATION */

/* .navigation__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
} */

/* .navigation__item:not(:last-child) {
  margin-right: 50px;
} */

/* .navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-dark-text-color);

  transition: color var(--animation-time) var(--animation-time-function);
} */

/* .navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
} */

/* .navigation__link--current {
  position: relative;

  color: var(--accent-color);
} */

/* .navigation__link--current::after {
  position: absolute;
  left: 0;
  top: calc(100% - 3px);

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
} */

/* AUTH-LIST */

/* .auth-list {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
} */

/* .auth-list__item:not(:last-child) {
  margin-right: 50px;
} */

/* .auth-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-dark-text-color);

  transition: color var(--animation-time) var(--animation-time-function);
} */

/* .auth-list__link:hover,
.auth-list__link:focus {
  color: var(--accent-color);
} */

/* .auth-list__icon {
  margin-right: 10px;
  fill: currentColor;
} */

/* SECTION - HERO */

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;

  background-color: var(--main-dark-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/hero-bg-desktop-opt.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-light-text-color);
}

.hero__btn {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  min-width: 216px;

  transition: color var(--animation-time) var(--animation-time-function),
    background-color var(--animation-time) var(--animation-time-function),
    transform var(--animation-time) var(--animation-time-function);
}

/* BACKDROP */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100vw;
  height: 100vh;

  background-color: var(--backdrop-bg-color);
  opacity: 1;
  visibility: visible;

  transition: opacity var(--animation-time) var(--animation-time-function),
    visibility var(--animation-time) var(--animation-time-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

/* BUTTON - CLOSE */

.close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  color: var(--logo-text-color);
  cursor: pointer;

  transition: color var(--animation-time) var(--animation-time-function);
}

.close:hover {
  color: var(--accent-color);
}

.close__icon {
  fill: currentColor;
}

/* MODAL */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 580px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  border-radius: 4px;

  background-color: var(--main-light-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform var(--animation-time) var(--animation-time-function);
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-dark-text-color);
}

/* SUBSCRIBE FORM */

.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-form__label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-dark-text-color);
}

.subscribe-form__field {
  position: relative;

  margin-bottom: 10px;

  color: var(--main-dark-text-color);

  transition: color var(--animation-time) var(--animation-time-function);
}

.subscribe-form__field:focus-within {
  color: var(--accent-color);
}

.subscribe-form__input {
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-dark-text-color);

  transition: border-color var(--animation-time) var(--animation-time-function);
}

.subscribe-form__input:focus {
  outline: none;

  border-color: var(--accent-color);
}

.subscribe-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: currentColor;
}

.subscribe-form__comments {
  margin-bottom: 20px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-dark-text-color);

  transition: border-color var(--animation-time) var(--animation-time-function);
}

.subscribe-form__comments::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.subscribe-form__comments:focus {
  outline: none;

  border-color: var(--accent-color);
}

.subscribe-form__field--checkbox {
  margin-bottom: 30px;
}

.subscribe-form__acception {
  display: flex;
  align-items: center;
  cursor: pointer;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-dark-text-color);
}

.subscribe-form__check:checked ~ .subscribe-form__acception > .checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.subscribe-form__link {
  color: var(--accent-color);
}

.subscribe-form__wrapper {
  margin-left: auto;
  margin-right: auto;
}

.subscribe-form__btn {
  min-width: 200px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* CUSTOM CHECKBOX */

.checkbox {
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-dark-text-color);
  border-radius: 2px;

  color: var(--main-light-text-color);

  transition: background-color var(--animation-time)
      var(--animation-time-function),
    border-color var(--animation-time) var(--animation-time-function);
}

.checkbox__icon {
  fill: currentColor;
  background-color: transparent;
}

/* SECTION - FEATURES */

.section__features {
  background-color: var(--secondary-light-bg-color);
}

.title__features {
  margin-top: 0;
  margin-bottom: 50px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.features__item {
  flex-basis: calc((100% - 90px) / 4);
}

.feautures__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
  border-radius: 4px;

  background-color: var(--alternative-light-bg-color);
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-dark-text-color);
}

/* SECTION - SERVICES */

.section__services {
  padding-top: 0;

  background-color: var(--secondary-light-bg-color);
}

.title__services {
  margin-top: 0;
  margin-bottom: 50px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.services__item {
  position: relative;

  flex-basis: calc((100% - 60px) / 3);
}

.services__title {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-light-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* SECTION-TEAM */

.section__team {
  background-color: var(--alternative-light-bg-color);
}

.title__team {
  margin-top: 0;
  margin-bottom: 50px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);

  border-radius: 0px 0px 4px 4px;

  background-color: var(--main-light-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__content {
  padding: 30px;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__prof {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-dark-text-color);
}

/* SECTION-CLIENTS */

.section__clients {
  background-color: var(--secondary-light-bg-color);
}

.title__clients {
  margin-top: 0;
  margin-bottom: 50px;
}

.clients {
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  flex-basis: calc((100% - 150px) / 6);
}

.clients__link {
  display: block;
  padding-top: 16px;
  padding-left: 30px;
  padding-bottom: 16px;
  padding-right: 30px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  color: var(--icon-color);

  transition: color var(--animation-time) var(--animation-time-function),
    border-color var(--animation-time) var(--animation-time-function);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);

  border-color: var(--accent-color);
}

.client__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 60px;
}

.client__icon {
  fill: currentColor;
}

/* FOOTER */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-dark-bg-color);
}

.container__footer {
  display: flex;
}

.footer__contacts {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__join {
  padding-top: 12px;
  margin-right: 93px;
}

.footer__appeal {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-light-text-color);
}

/* FOOTER - ADDRESS */

.address {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-light-text-color);
}

.address__text {
  margin-top: 0;
  margin-bottom: 10px;
}

.address__link {
  color: var(--footer-link-color);

  transition: color var(--animation-time) var(--animation-time-function);
}

.address__link:not(:last-child) {
  margin-bottom: 10px;
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

/* FOOTER - SIGNUP-FORM */

.signup {
  padding-top: 12px;
}

.signup__input {
  margin-right: 12px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;

  transition: border-color var(--animation-time) var(--animation-time-function);
}

.signup__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.signup__input:focus {
  outline: none;

  border-color: var(--accent-color);
}

.signup__submit {
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  min-width: 200px;
  display: inline-flex;
  align-items: center;

  color: var(--main-light-text-color);
}

.signup__icon {
  margin-left: 10px;

  fill: currentColor;
}

/* SECTION - PORTFOLIO */

.title__portfolio {
  margin-top: 0;
  margin-bottom: 50px;
}

/* FILTER */

.filter {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-dark-text-color);
  background-color: var(--alternative-light-bg-color);

  cursor: pointer;

  transition: color var(--animation-time) var(--animation-time-function),
    background-color var(--animation-time) var(--animation-time-function),
    box-shadow var(--animation-time) var(--animation-time-function);
}

.filter__btn:hover,
.filter__btn:focus {
  color: var(--main-light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.gallery__item {
  flex-basis: calc((100% - 60px) / 3);

  background-color: var(--main-light-bg-color);
}

.gallery__link {
  display: block;

  transition: box-shadow var(--animation-time) var(--animation-time-function);
}

.gallery__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid var(--portfolio-gallery-border-color);
  border-right: 1px solid var(--portfolio-gallery-border-color);
  border-bottom: 1px solid var(--portfolio-gallery-border-color);
}

.gallery__title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-dark-text-color);
}

.gallery__text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-dark-text-color);
}

/* PORTFOLIO - GALLERY-OVERLAY */

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__backdrop {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  overflow-y: auto;

  background-color: var(--portfolio-bg-overlay);

  transition: transform var(--animation-time) var(--animation-time-function);
}

.overlay__text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--main-light-text-color);
}

.gallery__link:hover,
.gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__link:hover .overlay__backdrop,
.gallery__link:focus .overlay__backdrop {
  transform: translateY(-100%);
}
