// MOBILE

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;

  background-color: var(--main-dark-bg-color);
}

.footer__contacts {
  margin-bottom: 60px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__join {
  margin-bottom: 60px;
}

.footer__appeal {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-light-text-color);
}

// DESKTOP

// .footer {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background-color: var(--main-dark-bg-color);
// }

// .footer__contacts {
//   margin-right: 70px;
// }

// .footer__logo {
//   display: inline-block;
//   margin-bottom: 20px;
// }

// .footer__join {
//   padding-top: 12px;
//   margin-right: 93px;
// }

// .footer__appeal {
//   margin-top: 0;
//   margin-bottom: 20px;

//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;

//   color: var(--main-light-text-color);
// }
