// MOBILE

.header {
  border-bottom: 1px solid var(--header-line-color);

  outline: 1px solid blue;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

// DESKTOP

// .header__logo {
//   margin-right: 94px;
//   padding-top: 24px;
//   padding-bottom: 25px;
// }
