// MOBILE //

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;

  background-color: var(--main-dark-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/hero-bg-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/hero-bg@2x-mobile.jpg');
  }
}

.hero__container {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62; // 42px
  text-align: center;
  letter-spacing: 0.06em; // 1.56px
  text-transform: uppercase;

  color: var(--main-light-text-color);
}

.hero__btn {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  min-width: 200px;

  transition: color var(--animation-time) var(--animation-time-function),
    background-color var(--animation-time) var(--animation-time-function),
    transform var(--animation-time) var(--animation-time-function);
}

// TABLET

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;

    background-color: var(--main-dark-bg-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/hero-bg-tablet.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero/hero-bg@2x-tablet.jpg');
    }
  }
}

// DESKTOP

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;

    background-color: var(--main-dark-bg-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/hero-bg-desktop.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero/hero-bg@2x-desktop.jpg');
    }
  }

  .hero__container {
    min-height: 600px;
  }

  .hero__title {
    font-size: 44px;
    line-height: 1.36; // 60px
    // letter-spacing: 0.06em; // 2.64px

    color: var(--main-light-text-color);
  }
}

// .hero__btn {
//   display: inline-block;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   padding-left: 32px;
//   padding-right: 32px;
//   min-width: 216px;

//   transition: color var(--animation-time) var(--animation-time-function),
//     background-color var(--animation-time) var(--animation-time-function),
//     transform var(--animation-time) var(--animation-time-function);
// }
