// MOBILE

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform var(--animation-time) var(--animation-time-function),
    opacity var(--animation-time) var(--animation-time-function),
    visibility var(--animation-time) var(--animation-time-function);

  background-color: var(--main-light-bg-color);
}

.mobile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;

  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  border: none;

  background-color: transparent;

  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--accent-color);
  }
}

.mobile-menu__icon {
  fill: currentColor;
}

.mobile-social {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}

.mobile-social__item {
  @media screen and (max-width: 439px) {
    margin-bottom: 10px;
  }
}

.mobile-social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  @extend %link;

  font-size: 18px;
  font-weight: 500;
  line-height: 1.22; // 22px
  letter-spacing: 0.02em; // 0.36px

  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 48px;
    padding-left: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    flex-direction: row;
  }

  .mobile-menu__close {
    display: none;
  }

  .mobile-menu__bottom {
    margin-top: auto;
    margin-bottom: auto;
  }

  .mobile-social {
    display: none;
  }
}
