// MOBILE

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100vw;
  height: 100vh;

  background-color: var(--backdrop-bg-color);
  opacity: 1;
  visibility: visible;

  transition: opacity var(--animation-time) var(--animation-time-function),
    visibility var(--animation-time) var(--animation-time-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  // max-width: 450px;
  min-height: 600px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  border-radius: 4px;

  background-color: var(--main-light-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform var(--animation-time) var(--animation-time-function);

  @media screen and (max-width: 480px) {
    max-width: 450px;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-dark-text-color);
}

// DESKTOP

// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 999;

//   width: 100vw;
//   height: 100vh;

//   background-color: var(--backdrop-bg-color);
//   opacity: 1;
//   visibility: visible;

//   transition: opacity var(--animation-time) var(--animation-time-function),
//     visibility var(--animation-time) var(--animation-time-function);
// }

// .backdrop.is-hidden {
//   opacity: 0;
//   pointer-events: none;
//   visibility: hidden;
// }

// .backdrop.is-hidden .modal {
//   transform: translate(-50%, -50%) scale(1.1);
// }

// .modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(1);

//   min-width: 528px;
//   min-height: 580px;
//   padding-top: 40px;
//   padding-right: 40px;
//   padding-bottom: 40px;
//   padding-left: 40px;
//   border-radius: 4px;

//   background-color: var(--main-light-bg-color);
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);

//   transition: transform var(--animation-time) var(--animation-time-function);
// }

// .modal__title {
//   margin-top: 0;
//   margin-bottom: 12px;

//   font-weight: 700;
//   font-size: 20px;
//   line-height: 1.15;
//   text-align: center;
//   letter-spacing: 0.03em;

//   color: var(--main-dark-text-color);
// }
