// MOBILE

.team {
  @extend %list;
}

.team__item {
  width: 100%;

  border-radius: 0px 0px 4px 4px;

  background-color: var(--main-light-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.team__image {
  width: 100%;
  height: auto;
}

.team__content {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 24px;
  padding-left: 30px;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19; // 19px
  text-align: center;
  letter-spacing: 0.03em; // 0.48px
}

.team__prof {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19; // 19px
  text-align: center;
  letter-spacing: 0.03em; // 0.48px

  color: var(--secondary-dark-text-color);
}

// TABLET

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

// DESKTOP

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
