.address {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-light-text-color);
}

.address__text {
  margin-top: 0;
  margin-bottom: 10px;
}

.address__link {
  @extend %link;
  color: var(--footer-link-color);

  transition: color var(--animation-time) var(--animation-time-function);

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
