// MOBILE

.auth-list {
  @extend %list;
  display: none;
}

.auth-list__link {
  @extend %link;
}

// TABLET

@media screen and (min-width: 768px) {
  .auth-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .auth-list__item:first-child {
    margin-bottom: 10px;
  }

  .auth-list__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17; // 14px
    letter-spacing: 0.02em; //0.02em 0.24px

    color: var(--secondary-dark-text-color);

    transition: color var(--animation-time) var(--animation-time-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .auth-list__icon {
    margin-right: 8px;

    fill: currentColor;
  }
}

// DESKTOP

@media screen and (min-width: 1200px) {
  .auth-list {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .auth-list__item:first-child {
    margin-bottom: 0;
    margin-right: 50px;
  }

  .auth-list__link {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
    // letter-spacing: 0.02em; 0.28px
  }

  .auth-list__icon {
    margin-right: 10px;
  }
}
