.burger-menu {
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  background-color: transparent;
  color: var(--logo-text-color);

  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger-menu__icon {
  fill: currentColor;
}
