// MOBILE

.gallery {
  @extend %list;
}

.gallery__item {
  background-color: var(--main-light-bg-color);

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.gallery__link {
  @extend %link;
  display: block;

  transition: box-shadow var(--animation-time) var(--animation-time-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .overlay__backdrop,
  &:focus .overlay__backdrop {
    transform: translateY(-100%);
  }
}

.gallery__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid var(--portfolio-gallery-border-color);
  border-right: 1px solid var(--portfolio-gallery-border-color);
  border-bottom: 1px solid var(--portfolio-gallery-border-color);
}

.gallery__title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2; // 36px
  letter-spacing: 0.06em; // 1.08px

  color: var(--main-dark-text-color);
}

.gallery__text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88; // 30px
  letter-spacing: 0.03em; // 0.48px

  color: var(--secondary-dark-text-color);
}

// TABLET

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .gallery__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

// DESKTOP

@media screen and (min-width: 1200px) {
  .gallery__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
