// MOBILE

.logo {
  @extend %link;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--accent-color);

  &--light {
    color: var(--main-light-text-color);
  }

  &--accent {
    color: var(--logo-text-color);
  }
}

// DESKTOP

// .logo {
//   @extend %link;
//   font-family: 'Raleway', sans-serif;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;

//   color: var(--accent-color);

//   &--light {
//     color: var(--main-light-text-color);
//   }

//   &--accent {
//     color: var(--logo-text-color);
//   }
// }
