// MOBILLE

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__backdrop {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;
  padding-top: 77px;
  padding-right: 24px;
  padding-bottom: 77px;
  padding-left: 24px;
  overflow-y: auto;

  background-color: var(--portfolio-bg-overlay);

  transition: transform var(--animation-time) var(--animation-time-function);
}

.overlay__text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56; // 28px
  letter-spacing: 0.03em; // 0.54px

  color: var(--main-light-text-color);
}

// TABLET

@media screen and (min-width: 768px) {
  .overlay__backdrop {
    padding-top: 49px;
  }
}

// DESKTOP

@media screen and (min-width: 1200px) {
  .overlay__backdrop {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
