.section {
  padding-top: 94px;
  padding-bottom: 94px;

  outline: 1px solid yellowgreen;

  &--bgcolor {
    background-color: var(--secondary-light-bg-color);
  }

  &--services {
    padding-top: 0;
  }
}
