// MOBILE

.signup {
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
  display: flex;
  flex-direction: column;
}

.signup__input {
  margin-bottom: 20px;
  width: 100%;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;

  transition: border-color var(--animation-time) var(--animation-time-function);

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25; // 20px
    letter-spacing: 0.03em; // 0.48px

    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    outline: none;

    border-color: var(--accent-color);
  }
}

.signup__submit {
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  min-width: 200px;
  display: flex;
  align-items: center;

  color: var(--main-light-text-color);
}

.signup__icon {
  margin-left: 12px;

  fill: currentColor;
}

// DESKTOP

@media screen and (min-width: 1200px) {
  .signup {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
    padding-top: 12px;

    text-align: left;
  }

  .signup__wrapper {
    display: flex;
  }

  .signup__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }

  .signup__icon {
    margin-left: 10px;
  }
}
