body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;

  color: var(--main-dark-text-color);
  background-color: var(--main-bg-color);
}

img {
  width: 100%;
  height: auto;
  display: block;
}
